@font-face {
  font-family: 'pictos-bridge';
  src:  url('../font/pictos-bridge.eot?q5w8wq');
  src:  url('../font/pictos-bridge.eot?q5w8wq#iefix') format('embedded-opentype'),
    url('../font/pictos-bridge.ttf?q5w8wq') format('truetype'),
    url('../font/pictos-bridge.woff?q5w8wq') format('woff'),
    url('../font/pictos-bridge.svg?q5w8wq#pictos-bridge') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-pictos-bridge"] ,
[class^="icon-pictos-bridge"] * ,
[class*=" icon-pictos-bridge"] ,
[class*=" icon-pictos-bridge"] *
{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pictos-bridge' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pictos-bridgePicto_Enveloppe:before {
    content: "\e912";
    color: #fff;
}
.icon-pictos-bridgePicto_Poigne_Main:before {
    content: "\e913";
    color: #fff;
}
.icon-pictos-bridgeback:before {
    content: "\e90f";
}
.icon-pictos-bridgego:before {
    content: "\e910";
}
.icon-pictos-bridgeexternal-link:before {
    content: "\e911";
}
.icon-pictos-bridgeAjouter:before {
    content: "\e900";
}
.icon-pictos-bridgeAvantages:before {
    content: "\e901";
}
.icon-pictos-bridgeCheck:before {
    content: "\e902";
}
.icon-pictos-bridgeClarification:before {
    content: "\e903";
}
.icon-pictos-bridgeInfo:before {
    content: "\e904";
}
.icon-pictos-bridgePrecision .path1:before {
    content: "\e905";
    color: rgb(255, 255, 255);
}
.icon-pictos-bridgePrecision .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-pictos-bridgePrecision .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-pictos-bridgePrecision .path4:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-pictos-bridgePrecision .path5:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-pictos-bridgePrecision .path6:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-pictos-bridgePrecision .path7:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-pictos-bridgePrecision .path8:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-pictos-bridgePrecision .path9:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-pictos-bridgePrecision .path10:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
