@import "variables";
@import 'icons-pictos';

@font-face{
  font-family: "Mont Bold";
  src : url('../font/Mont-Bold.ttf')
}
@font-face{
  font-family: "Mont Light";
  src : url('../font/Mont-Light.ttf')
}
@font-face{
  font-family: "Mont Regular";
  src : url('../font/Mont-Regular.ttf')
}
@font-face{
  font-family: "Mont Thin";
  src : url('../font/Mont-Thin.ttf')
}
html {
  scroll-behavior: smooth !important;
}
*{
  font-family: "Mont Light";
  font-size: 16px;
}
h1{
  font-family: "Mont Bold";
  margin-bottom: 30px;
}

h2{
  font-family: "Mont Thin";
}
a:hover{
  text-decoration: none;
}
.header-back{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  img{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
  }
  h2{
    margin-bottom: 0px;
    color: $orange;
  }
}